<!-- The list of messages will appear here: -->
<div class="float-left jumbotron">
 
<ul id='msg-list' style='list-style: none; min-height:200px; padding: 10px; *display: inline;'></ul>
</div>


<div class="float-right jumbotron">
  <ul id='to-do-list'>
    <li>to do 1</li>
    <li>to do 2</li>
  </ul>
</div>

<div>
  <div>
    <input type="text" id="name" placeholder="Your Name" autofocus>
  </div>
  <div>
    <input type="text" id="msg" placeholder="Your Message">
  </div>
</div>

